.rectangle {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgba(249, 249, 249, 0.94);
}
.profile {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1374px;
    top: 15px;
    background: url(../images/profile.svg);
}
.search_icon {
    position: absolute;
    width: 21px;
    height: 21px;
    left: 1253px;
    top: 24px;
    background: url(../images/search_icon.svg);
}
.search {
    position: absolute;
    width: 58px;
    height: 17px;
    left: 1285px;
    top: 24px;
    bottom: 19.05%;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.336px;
    color: #000000;
    border: 0;
}
.logo2 {
    position: absolute;
    width: 47px;
    height: 18px;
    left: 697px;
    top: 26px;
    border: 0;
    background: #000000;
    cursor: pointer;
    background: url(../images/logo2.svg);
}
.button_add {
    position: absolute;
    width: 124px;
    height: 21px;
    left: 209px;
    top: 24px;
    border: 0;
    cursor: pointer;
    background: url(../images/add_button.svg);
}
.button_collection {
    position: absolute;
    width: 151px;
    height: 38px;
    left: 32px;
    top: 17px;
    bottom: 34.21%;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.336px;
    border: 0;
    cursor: pointer;
    background: #002DFF;
    border-radius: 21.5px;
    color: #FFFFFF;
}
.collection_logo {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 40px;
    top: 24px;
    bottom: 18.42%;
    background: url(../images/collection_logo.svg);
}
.collection_theme {
    position: absolute;
    height: 41px;
    left: 492px;
    right: 487px;
    top: 152px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.374px;
    color: #000000;
}
