.InputsForRegistration_address {
    position: absolute;
    left: 620px;
    top: 439px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: black;
    border: none;
    border-bottom: 1px solid rgba(60, 60, 67, 0.3);
    outline: none;
}
.InputsForRegistration_password {
    position: absolute;
    left: 620px;
    top: 499px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: black;
    border: none;
    border-bottom: 1px solid rgba(60, 60, 67, 0.3);
    outline: none;
}
.InputsForRegistration_RepeatPassword {
    position: absolute;
    left: 620px;
    top: 559px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: black;
    border: none;
    border-bottom: 1px solid rgba(60, 60, 67, 0.3);
    outline: none;
}
.button_register {
    position: absolute;
    left: 655px;
    top: 695px;
    border: 3px solid #002DFF;
    box-sizing: border-box;
    border-radius: 25px;
    width: 149px;
    height: 50px;
    cursor: pointer;
    background:white;
}
button {
    position: absolute;
    height: 22px;
    left: 4.66%;
    right: 4.66%;
    top: calc(50% - 22px/2);
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #002DFF;
}
.login_text {
    position: absolute;
    left: 620px;
    top: 795px;
}
a {
    color: #002DFF;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
}

button[disabled] {
    color: gray;
    background: #74748014;
    border: gray;
}
.warning2 {
    position: absolute;
    top: 614px;
    left: 640px;
    color: red;
}
.preloader {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 702px;
    top: 703px;
    background: url(../images/preloader.gif);
}
