.InputsForLogin_address {
    position: absolute;
    left: 620px;
    top: 439px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    border: none;
    letter-spacing: -0.408px;
    border-bottom: 1px solid rgba(60, 60, 67, 0.3);
    color: black;
    outline:none;
}
.InputsForLogin_address[disabled] {
    position: absolute;
    left: 620px;
    top: 439px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    border: none;
    color: red;
    border-bottom: 1px solid rgba(60, 60, 67, 0.3);
    outline: none;
}
.InputsForLogin_password {
    position: absolute;
    left: 620px;
    top: 499px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    border: none;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: black;
    border-bottom: 1px solid rgba(60, 60, 67, 0.3);
    outline: none;
}
.InputsForLogin_password[disabled] {
    color: red;
}
.button_login {
    position: absolute;
    left: 655px;
    top: 695px;
    border: 3px solid #002DFF;
    box-sizing: border-box;
    border-radius: 25px;
    width: 149px;
    height: 50px;
    cursor: pointer;
    background:white;
}
button {
    position: absolute;
    height: 22px;
    left: 4.66%;
    right: 4.66%;
    top: calc(50% - 22px/2);
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #002DFF;
}
.register_text {
    position: absolute;
    left: 580px;
    top: 795px;
}
a {
    color: #002DFF;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
}
button[disabled] {
    color: gray;
    background: #74748014;
    border: gray;
}
.warning {
    position: absolute;
    top: 549px !important;
    left: 630px !important;
    color: red;
}
