.App {
  text-align: center;
  height: 1023px;
  width: 1440px;
}

.App-logo {
  position: absolute;
  width: 98px;
  height: 42px;
  left: 671px;
  top: 279px;
}
.App-profile {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1374px;
  top: 15px;
  background: url(images/profile.svg);
}
.App-button-search {
  position: absolute;
  width: 90px;
  height: 21px;
  left: 1253px;
  top: 24px;
  border: 0;
  cursor: pointer;
  background: url(images/search_button.svg);
}
.App-logo2 {
  position: absolute;
  width: 47px;
  height: 18px;
  left: 697px;
  top: 26px;
  border: 0;
  background: #000000;
  cursor: pointer;
  background: url(images/logo2.svg);
}
.App-button-add {
  position: absolute;
  width: 124px;
  height: 21px;
  left: 209px;
  top: 24px;
  border: 0;
  cursor: pointer;
  background: url(images/add_button.svg);
}
