.minary, .solstice, .mank, .girls, .earth, .button-watch, .father, .one_more, .soul,.godzilla {
    position: absolute;
    cursor: pointer;
}
.minary {
    width: 103.67px;
    height: 160.87px;
    left: 492px;
    top: 300px;
    background: url(../images/minary.svg);
}
.solstice {
    width: 102.48px;
    height: 160.87px;
    left: 612.36px;
    top: 300px;
    background: url(../images/solstice.svg);
}
.mank {
    width: 101.29px;
    height: 160.87px;
    left: 731.52px;
    top: 300px;
    background: url(../images/mank.svg);
}
.girls {
    width: 103.67px;
    height: 160.87px;
    left: 849px;
    top: 300px;
    background: url(../images/girls.svg);
}
.earth {
    width: 103px;
    height: 161px;
    left: 491.64px;
    top: 510px;
    background: url(../images/earth.svg);
}
.button-watch {
    width: 157px;
    height: 32px;
    left: 552px;
    top: 228px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-align-all: center;
    letter-spacing: -0.24px;
    color: #000000;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6.93px;
}
.father {
    width: 101.29px;
    height: 160.87px;
    left: 611.16px;
    top: 510px;
    background: url(../images/father.svg);
}
.one_more {
    width: 103.67px;
    height: 160.87px;
    left: 730px;
    top: 510px;
    background: url(../images/one_more.svg);
}
.soul {
    width: 102.48px;
    height: 160.87px;
    left: 851px;
    top: 510px;
    background: url(../images/soul.svg);
}
.godzilla {
    width: 101.29px;
    height: 160.87px;
    left: 492px;
    top: 720px;
    background: url(../images/godzilla.svg);
}
.minari, .solstice-text, .mank-text, .girls-text, .earth-text, .father-text, .one_more-text, .soul-text, .godzilla-text
{
    position: absolute;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.0929477px;
    color: #000000;
}
.minari {
    left: 492px;
    top: 471.6px;
}
.solstice-text {
    left: 612.36px;
    top: 471.6px;
}
.mank-text {
    left: 731.52px;
    top: 471.6px;
}
.girls-text {
    left: 849px;
    top: 471.6px;
}
.earth-text {
    left: 492px;
    top: 681.6px;
}
.father-text {
    left: 614px;
    top: 681.6px;
}
.one_more-text {
    left: 730px;
    top: 681.6px;
}
.soul-text {
    left: 851px;
    top: 681.6px;
}
.godzilla-text {
    left: 492px;
    top: 891.6px;
}
.button-watch:focus {
    background: white;
}
.icon_list, .icon_list2 {
    position: absolute;
    background: white;
    border: 0;
    cursor: pointer;
}
.icon_list {
    left: 933px;
    top: 235px;
}
.icon_list2 {
    left: 933px;
    top: 235px;
}
.minary-link, .solstice-link, .mank-link, .girls-link, .earth-link, .father-link, .one_more-link, .soul-link,
.godzilla-link {
    position: absolute;
    left: 513px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #000000;
    cursor: pointer;
}
.minary-link {
    top: 304px;
}
.solstice-link {
    top: 348px;
}
.mank-link {
    top: 392px;
}
.girls-link {
    top: 436px;
}
.earth-link {
    top: 480px;
}
.father-link {
    top: 524px;
}
.one_more-link {
    top: 568px;
}
.soul-link {
    top: 612px;
}
.godzilla-link {
    top: 656px;
}
.arrow1, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7, .arrow8, .arrow9 {
    position: absolute;
    left: 935px;
    cursor: pointer;
    border: 0;
    background: white;
}
.arrow1 {
    top: 309px;
}
.arrow2 {
    top: 353px;
}
.arrow3{
    top: 397px;
}
.arrow4 {
    top: 441px;
}
.arrow5 {
    top: 485px;
}
.arrow6 {
    top: 529px;
}
.arrow7 {
    top: 573px;
}
.arrow8 {
    top: 617px;
}
.arrow9 {
    top: 661px;
}
.line_under_collection1, .line_under_collection2, .line_under_collection3, .line_under_collection4,
.line_under_collection5, .line_under_collection6, .line_under_collection7, .line_under_collection8,
.line_under_collection9 {
    position: absolute;
    width: 461px;
    left: 497px;
}
.line_under_collection1 {
    top: 337px;
}
.line_under_collection2 {
    top: 381px;
}
.line_under_collection3 {
    top: 425px;
}
.line_under_collection4 {
    top: 469px;
}
.line_under_collection5 {
    top: 513px;
}
.line_under_collection6 {
    top: 557px;
}
.line_under_collection7 {
    top: 601px;
}
.line_under_collection8 {
    top: 645px;
}
.line_under_collection9 {
    top: 689px;
}
.button-watched {
    position: absolute;
    width: 158px;
    height: 32px;
    left: 705px;
    top: 228px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;
    color: #000000;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6.93px;
    cursor: pointer;
}
.button-watched:focus {
    background: white;
}
.argument, .reincarnation, .shine, .no_one, .gentlemen, .once_in_Hollywood, .joker, .three_billboards, .parasites {
    position: absolute;
    cursor: pointer;
}
.argument {
    width: 103.67px;
    height: 160.87px;
    left: 490px;
    top: 300px;
    background: url(../images/argument.svg);
}
.reincarnation {
    width: 102.48px;
    height: 160.87px;
    left: 610.36px;
    top: 300px;
    background: url(../images/reincarnation.svg);
}
.shine {
    width: 101.29px;
    height: 160.87px;
    left: 729.52px;
    top: 300px;
    background: url(../images/shine.svg);
}
.no_one {
    width: 103px;
    height: 161px;
    left: 848px;
    top: 300px;
    background: url(../images/no_one.svg);

}
.gentlemen {
    width: 103px;
    height: 161px;
    left: 489.64px;
    top: 510px;
    background: url(../images/gentlemen.svg);
}
.once_in_Hollywood {
    width: 101.29px;
    height: 160.87px;
    left: 609.16px;
    top: 510px;
    background: url(../images/once_in_Hollywood.svg);
}
.joker {
    width: 103.67px;
    height: 160.87px;
    left: 728px;
    top: 510px;
    background: url(../images/joker.svg);
}
.three_billboards {
    width: 102.48px;
    height: 160.87px;
    left: 848.36px;
    top: 510px;
    background: url(../images/three_billboards.svg);
}
.parasites {
    width: 101.29px;
    height: 160.87px;
    left: 490px;
    top: 720px;
    background: url(../images/parasites.svg);
}
.argument-link, .reincarnation-link, .shine-link, .no_one-link, .gentlemen-link, .once_in_Hollywood-link,
.joker-link, .three_billboards-link, .parasites-link{
    position: absolute;
    left: 513px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.408px;
    color: #000000;
    cursor: pointer;
}
.argument-link {
    top: 304px;
}
.reincarnation-link {
    top: 348px;
}
.shine-link {
    top: 392px;
}
.no_one-link {
    top: 436px;
}
.gentlemen-link {
    top: 480px;
}
.once_in_Hollywood-link {
    top: 524px;
}
.joker-link {
    top: 568px;
}
.three_billboards-link {
    top: 612px;
}
.parasites-link {
    top: 656px;
}
.grade_minary, .grade_solstice, .grade_mank, .grade_girls, .grade_earth, .grade_father, .grade_one_more, .grade_soul
.grade_godzilla, .grade_argument, .grade_reincarnation, .grade_shine, .grade_no_one, .grade_gentlemen,
.grade_once_in_Hollywood, .grade_joker, .grade_three_billboards, .grade_parasites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 8px 2px;
    position: absolute;
    width: 24px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid #002DFF;
    box-sizing: border-box;
    border-radius: 14px;
}
.grade_minary {
    left: 565px;
    top: 307px;
    background: url(../images/grade_minary.svg);
}
.grade_solstice {
    left: 685px;
    top: 307px;
    background: url(../images/grade_solstice.svg);
}
.grade_mank {
    left: 804px;
    top: 307px;
    background: url(../images/grade_mank.svg);
}
.grade_girls {
    left: 922px;
    top: 307px;
    background: url(../images/grade_girls.svg);
}
.grade_earth {
    left: 564.64px;
    top: 517px;
    background: url(../images/grade_earth.svg);
}
.grade_father {
    left: 683.64px;
    top: 517px;
    background: url(../images/grade_father.svg);
}
.grade_one_more {
    left: 803px;
    top: 517px;
    background: url(../images/grade_one_more.svg);
}
.grade_soul {
    left: 923.64px;
    top: 517px;
    background: url(../images/grade_soul.svg);
}
.grade_godzilla {
    left: 564.48px;
    top: 727px;
    background: url(../images/grade_godzilla.svg);
}
.grade_argument {
    left: 563px;
    top: 307px;
    background: url(../images/grade_argument.svg);
}
.grade_reincarnation {
    left: 683px;
    top: 307px;
    background: url(../images/grade_reincarnation.svg);
}
.grade_shine {
    left: 801px;
    top: 307px;
    background: url(../images/grade_shine.svg);
}
.grade_no_one {
    left: 921px;
    top: 307px;
    background: url(../images/grade_no_one.svg);
}
.grade_gentlemen {
    left: 562.64px;
    top: 517px;
    background: url(../images/grade_gentlemen.svg);
}
.grade_once_in_Hollywood {
    left: 682.64px;
    top: 517px;
    background: url(../images/grade_once_in_Hollywood.svg);
}
.grade_joker {
    left: 801px;
    top: 517px;
    background: url(../images/grade_once_in_Hollywood.svg);
}
.grade_three_billboards {
    left: 921px;
    top: 517px;
    background: url(../images/grade_three_billboards.svg);
}
.grade_parasites {
    left: 563.48px;
    top: 727px;
    background: url(../images/grade_parasites.svg);
}
